.App {
  font-family: 'Arial', sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  font-size: 2em;
  margin: 20px;
  color: #333;
}

.subtitle {
  font-size: 1em;
  margin: 10px;
  color: #5b73e1;
}

.content {
  display: flex;
  justify-content: flex-start;
}

.leftPanel {
  width: 33%;
  padding: 20px;
  box-sizing: border-box;
}

.inputArea {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.gptResponseArea {
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.jsonButton {
  width: 100%;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
  margin-top: 15px;
}

.pdfButton {
  width: 100%;
  padding: 10px 10px;
  font-size: 1em;
  color: white;
  background-color: rgb(8, 142, 77);
  border: none;
  border-radius: 1px;
  align-items: center;
  cursor: pointer;
}

.resetButton {
  width: 100%;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #8cc759;
  border: none;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}

.jsonButton_update {
  width: 100%;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #ffbb00;
  border: none;
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}

.jsonButton:hover {
  background-color: #0056b3;
}

.rightPanel {
  width: 65%;
  padding: 20px;
  box-sizing: border-box;
  border-left: 1px solid #ddd;
}

.textLabel {
  display: block;
  margin: 10px 0;
  font-size: 1.1em;
  color: #333;
}

/*.custom-file-upload {*/
/*  display: inline-block;*/
/*  padding: 10px 20px;*/
/*  cursor: pointer;*/
/*  border-radius: 5px;*/
/*  background-color: #4CAF50;*/
/*  color: white;*/
/*  border: 1px solid #ccc;*/
/*  transition: all 0.3s ease;*/
/*}*/
.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #45a049;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px; /* Adjust as needed */
  margin-bottom: 15px;
  margin-left: 120px;
  /* Additional styling */
}

.custom-file-upload:hover {
  background-color: #f4f4f4;
}

.orSeparator {
  text-align: center;
  margin: 10px 0;
  font-size: 16px;
  /* Additional styling as needed */
}
.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.searchInput {
  width: 500px;
  padding: 10px;
  border: 2px solid #007bff;
  border-right: none; /* Optional: if you want the button to seamlessly integrate with the input */
  border-radius: 5px 0 0 5px;
  outline: none;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.searchInput:focus {
  opacity: 1;
}

.searchButton {
  padding: 10px 20px;
  border: 2px solid #007bff;
  background-color: #007bff;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.searchButton:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

.reloadButton {
  padding: 10px 20px;
  border: 1px solid #030303;
  background-color: #024a27;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.reloadButton:hover {
  background-color: #00b377;
  transform: scale(1.05);
}
